{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "lodash"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-pure-class-to-function",
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": false,
            "regenerator": false
          }
        ]
      ]
    }
  }
}
