{
  "parser": "babel-eslint",

  // Build upon Airbnb JavaScript style guide
  // https://github.com/airbnb/javascript
  // https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
  "extends": "airbnb",

  "env": {
    "browser": false,
    "node": false
  },

  "globals": {
    "window": false
  },

  // Override some rules
  // 0 means rule disabled
  // 1 means rule enabled, produces a warning
  // 2 means rule enabled, produces a error
  "rules": {

    // Require Variable Declarations to be at the top of their scope
    // http://eslint.org/docs/rules/vars-on-top
    // “var” should not be used, and this rule does not
    // apply to “let” and “const” anyway.
    "vars-on-top": 0,
    // Require Function Expressions to have a Name
    // http://eslint.org/docs/rules/func-names
    "func-names": 0,
    // Disallow or Enforce Dangling Commas
    // http://eslint.org/docs/rules/comma-dangle
    "comma-dangle": [2, "never"],

    // React / JSX
    // -----------

    // Prevent missing parentheses around multilines JSX
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/wrap-multilines.md
    "react/wrap-multilines": 0,
    // Enforce or disallow spaces inside of curly braces in JSX attributes
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-curly-spacing.md
    // <p title={foo}>, not <p title={ foo }>
    "react/jsx-curly-spacing": [2, "never"],
    // Prevent duplicate props in JSX
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-duplicate-props.md
    "react/jsx-no-duplicate-props": 2,
    // Validate closing bracket location in JSX
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-closing-bracket-location.md
    "react/jsx-closing-bracket-location": 0,
    // Enforce quote style for JSX attributes
    // <p title='foo'>, not <p title="foo">
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-quotes.md
    "jsx-quotes": [2, "prefer-single"],

    // Stylistic rules
    // ---------------

    // Limit Maximum Length of Line
    // http://eslint.org/docs/rules/max-len.html
    "max-len": [1, 80, 2],
    // Disallow or enforce spaces inside of brackets
    // [ 1 ], not [1]
    // http://eslint.org/docs/rules/array-bracket-spacing
    "array-bracket-spacing": [2, "always"],
    // Disallow or enforce spaces inside of curly braces in objects
    // { a: 1 }, not {a: 1}
    // http://eslint.org/docs/rules/object-curly-spacing
    "object-curly-spacing": [2, "always"],
    // Disallow or enforce spaces inside of parenthesesx
    // f(1), not f( 1 )
    // http://eslint.org/docs/rules/space-in-parens
    "space-in-parens": [2, "never"],
    // Require Object Literal Shorthand Syntax
    // { a, b() {} }
    // http://eslint.org/docs/rules/object-shorthand
    "object-shorthand": [2, "always"],
    // Require parens in arrow function arguments
    // (a) => {}, not a => {}
    // http://eslint.org/docs/rules/arrow-parens
    "arrow-parens": 2,
    // Enforce Function Style
    // Function expressions, not declarations
    // f = () => {} or f = function() {}, not function f() {}
    // http://eslint.org/docs/rules/func-style
    "func-style": [2, "expression"]
  }
}
