@import './variables';
@import './mixins/clearfix';
@import './mixins/accessible-hide';

html {
  font-family: $font-family;
  line-height: $line-height;
  background-color: $background-color;
  color: $color;
}

body {
  margin: 1rem;
}

input, button {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: $std-padding-quarter $std-padding-half;
  line-height: 1.2;
  font-size: inherit;
  font-family: inherit;
}

input {
  background-color: #fafafa;
}

button {
  background-color: #eee;
}

.accessible-hidden {
  @include accessible-hide;
}

.inline-form {
  display: inline-block;
  vertical-align: top;
}

.nav__list {
  display: flex;
  padding: 0;
}

.nav__item {
  list-style-type: none;
  padding-right: 1rem;
}

.todos {
  border-top: 1px solid #eee;
  max-width: 50rem;
  padding: 0;
  list-style: none;
}

.todo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 10px;
}

.todo--active {
  color: green;
}

.todo--completed {
  color: gray;
  text-decoration: line-through;
}

.todo__leftControls {
  padding-right: $std-padding;
  order: 1;
}

.todo__body {
  flex: 1;
  order: 2;
  padding-right: $std-padding;
}

.todo__rightControls {
  order: 3;
  width: 180px;
  text-align: center;
}

.CreateTodoForm__label,
.CreateTodoForm__input {
  margin-right: $std-padding-half;
}

.StartEditTodoForm {
  display: inline-block;
  margin-right: $std-padding-half;
}

.EditTodoForm__input {
  margin-right: $std-padding-half;
}
