@import './variables';
@import './mixins/clearfix';
@import './mixins/accessible-hide';

html {
  font-family: $font-family;
  line-height: $line-height;
  background-color: $background-color;
  color: $color;
}

input, button {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: $std-padding-quarter $std-padding-half;
  font-family: inherit;
  font-size: inherit;
}

input {
  background-color: #fafafa;
}

button {
  background-color: #eee;
}

.accessible-hidden {
  @include accessible-hide;
}

.inline-form {
  display: inline-block;
  vertical-align: top;
}

.todos {
  padding: 0;
  list-style: none;
}

.todo {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 20px 10px;
}

.todo--completed {
  color: gray;
}

.todo--active {
  color: blue;
}

.todo__leftControls {
  padding-right: $std-padding;
  order: 1;
}

.todo__body {
  flex: 1;
  order: 2;
  padding-right: $std-padding;
}

.todo__rightControls {
  order: 3;
  width: 180px;
  text-align: center;
}

.CreateTodoForm__label, .CreateTodoForm__input {
  margin-right: 10px;
}

.EditTodoForm__label {
  margin-right: 10px;
}
