<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'/>
<title><%= title %></title>
<link rel='stylesheet' href='/static/main.css'>
</head>
<body>
<div id='content'><%- content %></div>
<div id='initialState' style='display: none'><%= initialState %></div>
<script src='/static/client.js'></script>
</body>
</html>
